<?xml version="1.0" standalone="yes"?>
<EmoticonSet>
    <name>sina</name>
    <line>4</line>
    <row>7</row>
    <isShowName>0</isShowName>
    <iconUri>d_2_doge.png</iconUri>
    <isShowDelBtn>0</isShowDelBtn>
    <itemPadding>20</itemPadding>
    <horizontalSpacing>0</horizontalSpacing>
    <verticalSpacing>0</verticalSpacing>
    <EmoticonBeans>
        <EmoticonBean>
            <eventType>0</eventType> 
            <iconUri>d_1_miao.png</iconUri>
            <name>喵</name>
            <tag>[喵喵]</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>0</eventType> 
            <iconUri>d_2_doge.png</iconUri>
            <name>狗</name>
            <tag>[doge]</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>0</eventType> 
            <iconUri>d_3_shenshou.png</iconUri>
            <name>神兽</name>
            <tag>[草泥马]</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_5_xiaoku.png</iconUri>
            <name>笑哭</name>
            <tag>[笑cry]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_6_zuiyou.png</iconUri>
            <name>最右</name>
            <tag>[最右]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_aini.png</iconUri>
            <name>爱你</name>
            <tag>[爱你]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_aoteman.png</iconUri>
            <name>奥特曼</name>
            <tag>[奥特曼]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_baibai.png</iconUri>
            <name>拜拜</name>
            <tag>[拜拜]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_beishang.png</iconUri>
            <name>悲伤</name>
            <tag>[悲伤]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_bishi.png</iconUri>
            <name>鄙视</name>
            <tag>[鄙视]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_bizui.png</iconUri>
            <name>闭嘴</name>
            <tag>[闭嘴]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_chanzui.png</iconUri>
            <name>馋嘴</name>
            <tag>[馋嘴]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_chijing.png</iconUri>
            <name>吃惊</name>
            <tag>[吃惊]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_dahaqi.png</iconUri>
            <name>打哈气</name>
            <tag>[打哈气]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_ding.png</iconUri>
            <name>顶</name>
            <tag>[顶]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_feizao.png</iconUri>
            <name>肥皂</name>
            <tag>[肥皂]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_fennu.png</iconUri>
            <name>愤怒</name>
            <tag>[愤怒]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_ganmao.png</iconUri>
            <name>感冒</name>
            <tag>[感冒]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_guzhang.png</iconUri>
            <name>鼓掌</name>
            <tag>[鼓掌]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_haha.png</iconUri>
            <name>哈哈</name>
            <tag>[哈哈]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_haixiu.png</iconUri>
            <name>害羞</name>
            <tag>[害羞]</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_han.png</iconUri>
            <name>汗</name>
            <tag>[汗]</tag>
        </EmoticonBean>
    </EmoticonBeans>
</EmoticonSet>