<?xml version="1.0" standalone="yes"?>
<EmoticonSet>
    <name>sina</name>
    <line>4</line>
    <row>7</row>
    <isShowName>0</isShowName>
    <iconUri>d_2_doge.png</iconUri>
    <isShowDelBtn>0</isShowDelBtn>
    <itemPadding>20</itemPadding>
    <horizontalSpacing>0</horizontalSpacing>
    <verticalSpacing>0</verticalSpacing>
    <EmoticonBeans>
        <EmoticonBean>
            <eventType>0</eventType> 
            <iconUri>d_1_miao.png</iconUri>
            <name>喵</name>
            <tag>[喵]</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>0</eventType> 
            <iconUri>d_2_doge.png</iconUri>
            <name>狗</name>
            <tag>[狗]</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>0</eventType> 
            <iconUri>d_3_shenshou.png</iconUri>
            <name>神兽</name>
            <tag>d_3_shenshou</tag>
        </EmoticonBean> 
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_5_xiaoku.png</iconUri>
            <name>笑哭</name>
            <tag>d_5_xiaoku</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_6_zuiyou.png</iconUri>
            <name>最右</name>
            <tag>d_6_zuiyou</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_aini.png</iconUri>
            <name>爱你</name>
            <tag>d_aini</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_aoteman.png</iconUri>
            <name>奥特曼</name>
            <tag>d_aoteman</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_baibai.png</iconUri>
            <name>拜拜</name>
            <tag>d_baibai</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_beishang.png</iconUri>
            <name>悲伤</name>
            <tag>d_beishang</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_bishi.png</iconUri>
            <name>鄙视</name>
            <tag>d_bishi</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_bizui.png</iconUri>
            <name>闭嘴</name>
            <tag>d_bizui</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_chanzui.png</iconUri>
            <name>馋嘴</name>
            <tag>d_chanzui</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_chijing.png</iconUri>
            <name>吃惊</name>
            <tag>d_chijing</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_dahaqian.png</iconUri>
            <name>打哈欠</name>
            <tag>d_dahaqian</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_ding.png</iconUri>
            <name>顶</name>
            <tag>d_ding</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_feizao.png</iconUri>
            <name>肥皂</name>
            <tag>d_feizao</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_fennu.png</iconUri>
            <name>愤怒</name>
            <tag>d_fennu</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_ganmao.png</iconUri>
            <name>感冒</name>
            <tag>d_ganmao</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_guzhang.png</iconUri>
            <name>鼓掌</name>
            <tag>d_guzhang</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_haha.png</iconUri>
            <name>哈哈</name>
            <tag>d_haha</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_haixiu.png</iconUri>
            <name>害羞</name>
            <tag>d_haixiu</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_han.png</iconUri>
            <name>汗</name>
            <tag>d_han</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_feizao.png</iconUri>
            <name>肥皂</name>
            <tag>d_feizao</tag>
        </EmoticonBean>
        <EmoticonBean>
            <eventType>0</eventType>
            <iconUri>d_feizao.png</iconUri>
            <name>肥皂</name>
            <tag>d_feizao</tag>
        </EmoticonBean>
    </EmoticonBeans>
</EmoticonSet>